.btn {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 2px
}

.wd1 {
	MARGIN: 1px 1px 0px 0px; WIDTH: 50px
}
.wd2 {
	MARGIN: 1px 1px 0px 0px; WIDTH: 64px
}
.wd3 {
	MARGIN: 1px 1px 0px 0px; WIDTH: 82px
}
.wd4 {
	MARGIN: 1px 1px 0px 0px; WIDTH: 100px
}